input[type="text"]{
  -moz-border-radius: 8px;
  -webkit-border-radius:8px;
  background: #eee;
}
input[type="submit"]{
  -moz-border-radius: 8px;
  -webkit-border-radius:8px;
  /*background: #eee;*/
}
button{
  padding: 5px 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
  background: #8AC007;
  color: #fff;
  cursor: pointer;
  width: 120px;
}
label{
  margin-left: 20px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.column{
  /*float: center;*/
  width: 30%;
  padding-left: 30px;
}
@media screen and (max-width:600px) {
  .column {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%; 
  }
}
#datepicker{
  width:180px; 
}
#datepicker > span:hover{
  cursor: pointer;
}
